<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Pin per I/O #1</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.gaio.io1">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Pin per I/O #2</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.gaio.io2">
        </div>
    </div>
</form>